{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Simple API",
    "description": "A simple API to learn how to write OpenAPI Specification"
  },
  "schemes": [
    "https"
  ],
  "host": "api-nba-v1.p.rapidapi.com",
  "basePath": "/",
  "paths": {
        "/players/playerId/{playerId}": {
          "get": {
            "summary": "Gets a player",
            "description": "Returns some stats for one player",
            "parameters": [
              {
                "name": "playerId",
                "in": "path",
                "required": true,
                "description": "the players id",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "A Player",
                "schema": {
                  "required": [
                    "playerId"
                  ],
                  "properties": {
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
  },
  "security": [
    {
      "app_id": []
    }
  ],
  "components": {
    "securitySchemes": {
        "app_id": {
          "type": "apiKey",
          "description": "API key to authorize requests",
          "name": "x-rapidapi-key",
          "in": "header"
        }
    }
  }
}