body {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: Copperplate, fantasy;
  font-size: large;
  width: 100%;
}
h5 {
  text-align: center;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
  text-align: center;
  color: rgb(243, 135, 34);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
  color: rgb(229, 254, 6);
  text-shadow: 3px 3px 6px #000000;
}
p {
  text-align: center;
  color: rgb(242, 255, 4);
  text-shadow: 3px 3px 6px #000000;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  div {
    width: 120px ;
  }
}