body {
    background-color: #030b1b;

}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.dropdown {
  text-align: center;
}

div.jack-o-rithm {
  text-align: center;
}

.smallHeaders {
  font-size: x-small;
  color:#867e05;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.regularHeaders {
  font-size: medium;
  color:#867e05;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.ultimateBody {
  color:#219bbd
}


/* Create three equal columns that floats next to each other */
.columnOdds {
  float: left;
  width: 25.00%;
  
  border: #034d56;
  border-style: groove;
  text-align: center;
  color:black;
  background-color: rgb(85, 149, 213);
  padding: 10px;
  font-weight: 600;
}

.upcoming {
  float: left;
  width: 100%;
  
  border: #034d56;
  border-style: groove;
  text-align: center;
  color:black;
  background-color: rgb(85, 149, 213);
  padding: 10px;
  font-weight: 600;
}

.column66 {
  float: left;
  width: 66.67%;
  text-align: center;
}

.column {
  float: left;
  width: 25.00%;
  text-align: center;
  resize:both 
}

.historicalGreen {
  border-style: ridge;
  border-color: rgb(1, 2, 25);
  background-color: #84f879;
  float: left;
  width: 25.00%;
  text-align: center;
  overflow: hidden;
  color: black
}

.historicalRed {
  border-style: ridge;
  border-color: rgb(1, 2, 25);
  background-color: #ff9d9d;
  float: left;
  width: 25.00%;
  text-align: center;
  overflow: hidden;
  color: black
}

.column25 {
  font-size: small;
  float: left;
  width: 25.00%;
  text-align: center;
  overflow: hidden;
}
.column33 {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: medium;
}

.container {
  columns: 5 auto;
}

.column33Page {
  float: left;
  width: 20%;
  text-align: center;
  font-size: medium;
  padding-left: 20px;
}

.upcoming {
  border: #034d56;
  border-style: groove;
  text-align: center;
  color:black;
  background-color: rgb(85, 149, 213);
  padding: 10px;
  font-weight: 600;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;

}

.header {
  text-align: center;
  font-size: large;
}

li {
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline;
  margin-inline: 10px;
}

div.table_container {
  max-width: '100%'
}

nav {
  text-align: center;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:chartreuse;
  text-align: center;

}

body {
  background-color: #030b1b;
}

table {
  border: 2px solid rgb(175, 254, 6);
  width: 100%;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
